import uuid

from django.db import models


class BaseModel(models.Model):
    """Base Abstract Model"""

    id = models.UUIDField(
        primary_key=True,
        default=uuid.uuid7,
        editable=False
    )
    created_at = models.DateTimeField(auto_now_add=True)
    updated_at = models.DateTimeField(auto_now=True)
    deleted_at = models.DateTimeField(null=True, blank=True, default=None)

    class Meta:
        abstract = True
        ordering = ["-created_at"]
